body{
	background-color: #232323;
	margin:0;
	font-family: "Montserrat";
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: background 0.3s;
	border-radius: 15%;
}

#container{
	margin: 0 auto;
	max-width: 600px;
}
h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	text-transform: uppercase;
	font-weight: lighter;
	margin: 0;
	padding: 20px 0;
}

#rgb{
	font-size: 200%;
}
#mess
{
	display: inline-block;
	width: 20%;
}
#stripe
{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	background-color:blue;
}

button
{
	text-transform: uppercase;
	font-weight: 900;
	color: steelblue;
	letter-spacing: 1px;
	outline: none;
	background: none;
	border: none;
	height: 100%;
	transition: all 0.5s;
}

button:hover{
	color: white;
	background: steelblue;
}